<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="email.mapper.BodyPartMapper">
    <insert id="insert">
        INSERT INTO email.bodyPart (messageid, seqnum, contenttype, "content")
        VALUES(#{messageId}, #{seqNum}, #{contentType}, #{content})
    </insert>

    <delete id="delete">
        DELETE FROM email.bodyPart
        WHERE messageId = #{messageId}
    </delete>

    <resultMap id="bodyResultMap" type="email.model.BodyPart">
        <result property="seqNum" column="seqNum"/>
        <result property="contentType" column="contentType"/>
        <result property="content" column="content"/>
    </resultMap>
</mapper>