<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="email.mapper.BodyMapper">

    <delete id="delete">
        DELETE FROM email.body WHERE id IN
        <foreach collection="messages" item="message" separator="," open="(" close=")">
            #{message.body.id}
        </foreach>
    </delete>

</mapper>