<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="email.mapper.EventLogMapper">
    <insert id="insert">
        INSERT INTO email.eventlog (accountid, statusenum, messageuid, message)
        VALUES(0, 0, 0, '');
    </insert>
</mapper>