<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="email.mapper.MessageMapper">
    <select id="get" resultMap="messageResultMap">
        SELECT
        <include refid="columns"/>
        <include refid="fromMessageJoin"/>
        WHERE uid = #{uid}
    </select>

    <select id="insertMessage" resultType="long">
        INSERT INTO email.message (uid, accountid, subject, datereceived, readind, recipientid, fromid)
        VALUES(#{uid}, #{accountId}, #{subject}, #{dateReceived}, #{readInd}, #{recipientId}, #{fromId})
        RETURNING id
    </select>

    <select id="count" resultType="long">
        SELECT count(*)
        FROM email.message
        WHERE
        accountId = #{accountId}
        AND subject = #{subject}
        AND dateReceived = #{dateReceived}
    </select>

    <update id="setReadIndicator">
        UPDATE email.message
        SET readInd = #{readInd}
        WHERE uid = #{uid}
    </update>

    <select id="listAll" resultMap="messageResultMap">
        SELECT
        <include refid="columnsNoPassword"/>
        <include refid="fromMessageJoin"/>
    </select>

    <select id="list" resultMap="messageResultMap">
        SELECT
        <include refid="columns"/>
        <include refid="fromMessageJoin"/>
        WHERE m.accountid = #{accountId}
    </select>

    <sql id="fromMessageJoin">
        FROM email.message m
        INNER JOIN email.account a ON m.accountid = a.id
        JOIN email.bodypart b on m.id = b.messageId
    </sql>

    <sql id="columnsNoPassword">
        m.id                mid,
        m.uid,
        m.accountid,
        m.subject,
        m.datereceived,
        m.readind,
        m.recipientid,
        m.fromid,
        m.datecreated       mdatecreated,
        a.id,
        a.hostname,
        a.authentication,
        a.port,
        a.inboxname,
        a.username,
        a.datecreated
    </sql>

    <sql id="columns">
        a.password,
        b.seqNum,
        b.contentType,
        b.content,
        <include refid="columnsNoPassword"/>
    </sql>

    <delete id="delete">
        DELETE FROM email.message WHERE uid IN
        <foreach collection="messages" item="message" separator="," open="(" close=")">
            #{message.uid}
        </foreach>
    </delete>

    <delete id="deleteById">
        DELETE FROM email.message WHERE uid = #{uid}
    </delete>

    <resultMap id="messageResultMap" type="email.model.Message">
        <id property="id" column="mid"/>
        <result property="uid" column="uid"/>
        <result property="subject" column="subject"/>
        <result property="dateReceived" column="datereceived"/>
        <result property="dateCreated" column="mdateCreated"/>
        <result property="readInd" column="readInd"/>
        <association property="bodyParts" resultMap="email.mapper.BodyPartMapper.bodyResultMap"/>
        <association property="account" resultMap="email.mapper.AccountMapper.accountResultMap"/>
    </resultMap>

</mapper>