<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="email.mapper.MessageMapper">
    <select id="list" resultMap="messageResultMap">
        SELECT * FROM email.message m INNER JOIN email.account a ON m.accountid = a.id WHERE m.accountid = #{accountId}
    </select>

    <delete id="delete">
        DELETE FROM email.message WHERE id IN
        <foreach collection="messages" item="message" separator="," open="(" close=")">
            #{message.id}
        </foreach>
    </delete>

    <resultMap id="bodyResultMap" type="email.model.Body">
        <id property="id" column="id"/>
        <result property="body" column="body"/>
    </resultMap>

    <resultMap id="messageResultMap" type="email.model.Message">
        <id property="id" column="id"/>
        <result property="subject" column="subject"/>
        <result property="dateReceived" column="datereceived"/>
        <result property="dateCreated" column="dateCreated"/>
        <result property="readInd" column="readInd"/>
        <association property="body" resultMap="bodyResultMap"/>
        <association property="account" resultMap="email.mapper.AccountMapper.accountResultMap"/>
    </resultMap>

</mapper>