.flex-container {
    display: flex;
}

.attachments {
    /*wrap onto next line if necessary*/
    flex-wrap: wrap;
}

.flex-container > div {
    background-color: #f1f1f1;
    /*margin: 10px;*/
    margin: 2px;
    /*padding: 20px;*/
    padding: 2px;
}

.subject {
    /*grow to use available space*/
    flex-grow: 1;
}

.dateReceived {
    /*prevent this from being resized*/
    flex-shrink: 0;
    /*make it resize to fit content*/
    flex-basis: content;
}